

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}
.header{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 10vh 0 32px 0;
    background: linear-gradient(0deg, #a29bfe,#81ecec);
}
.header_container{
    max-width: 1024px;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
}
.main{
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 32px 0 64px 0;
    background: linear-gradient(0deg,#81ecec, #a29bfe);
}
.main_container{
    max-width: 1280px;
    font-size: 140px;
    font-weight: bold;
    text-align: center;
}
.white-color
{
    color: white;
}
.first_flag{
    height: 180px;
    margin: 80px 0;
    border: 5px solid white;
    border-radius: 8px;
    transform: scale(1);
    transition: ease 2s;
}
.first_flag:hover, .second_flag:hover{
    transform: scale(1.3);
    transition: ease 2s;
    cursor: pointer;
    box-shadow: 0px 6px 32px 8px rgba(0, 0, 0, 0.5);
}
.second_flag{
    height: 180px;
    margin: 80px 0;
    border: 5px solid white;
    border-radius: 8px;
    transform: scale(1);
    transition: ease 2s;
    display: none;
}
